
  <div class="card-header">
    @<%=post.user.handle%>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%=post.title%></h5>
    <% if post.text %>
    <p class="card-text"><%=post.text%></p>
    <% end %>
    <% if post.url %>
    <p class="card-text"><a href="<%=post.url%>"><%=post.url%></a></p>
    <% end %>


  </div>

