<!DOCTYPE html>
<html>

<head>
    <title>One Month Rails Project</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</head>

<body>


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  </button>
    <div class="container">
        <%= link_to "JoeBlog" , root_path, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
          <div class="collapse navbar-collapse nav-space" id="navbarSupportedContent">
            <ul class="nav navbar-nav mr-auto">
                <li class="navitem">
                    <%= link_to "Home" , root_path, class: "nav-link" %>
                </li>
                <li class="navitem">
                    <%= link_to "About" , about_path, class: "nav-link" %>
                </li>
                <li class="navitem">
                    <%= link_to "Contact" , contact_path, class: "nav-link" %>
                </li>
              </ul>
              <ul class="nav navbar-nav">
                <% if user_signed_in? %>
                  <li class="navitem float-end">
                      <%= link_to "Logout" , signout_path, method: :delete, class: "nav-link" %>
                  </li>
                <% else %>
                  <li class="navitem float-end">
                      <%= link_to "Sign Up" , signup_path, class: "nav-link" %>
                  </li>
                  <li class="navitem float-end">
                      <%= link_to "Login" , signin_path, class: "nav-link" %>
                  </li>
                <% end %>
            </ul>
          </div>
    </div>
</nav>


    <!-- Flash Messages -->

    <% flash.each do |name, message| %>
      <%= content_tag(:div, message, class: "alert alert-info #{name}") %>
    <% end %>
    <br>
    <%= yield %>


        <footer class="small text-muted">
            <div class="container">
                <hr>
                <center>
                    <p>Joe Valookaran</p>
                </center>
            </div>
        </footer>
</body>

</html>
